{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Моё хобби</title>
    <link rel="stylesheet" href={% static 'css/default.css' %}>
</head>
<div id="top-header">
        <br>
        <h1>Кушать</h1>
    </div>
<body>
<nav id="my-side-nav">
    <a id="main" title="Главная страница" href="{% url 'main' %}">Главная</a>
    <a id="about" title="Если интересно" href="{% url 'about' %}">Обо мне</a>
    <a id="contact" title="Поболтаем?" href="{% url 'contact' %}">Контакты</a>
</nav>
{% block content %} {% endblock content %}
</body>